<div class="container">
  <div class="row m-5">
    <h4><i class="fas fa-heart color_red"></i> 商品編集</h4>
  </div>
  <div class="row mb-5 pb-5 justify-content-center">
    <table>
      <thead>
        <%= form_with model: @item, url:admin_item_path(@item.id), local: true do |f| %>
        <tr>
          <th class="p-2">商品画像</th>
          <td class="p-2"><%= f.file_field :image, accept: "image/*",:size => 50 %></td>
        </tr>
        <tr>
          <th class="p-2">商品名</th>
          <td class="p-2"><%= f.text_field :name, :size => 50 %></td>
        </tr>
        <tr>
          <th class="p-2">商品説明</th>
          <td class="p-2"><%= f.text_area :introduction, :size => "50x10" %></td>
        </tr>
        <tr>
          <th class="p-2">ジャンル</th>
          <td class="p-2"><%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "--選択してください--"} %></td>
        </tr>
        <tr>
          <th class="p-2">税込価格</th>
          <td class="p-2"><%= f.text_field :price, :size => 50 %>円</td>
        </tr>
        <tr>
          <th class="p-2">販売ステータス</th>
          <td class="p-2">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
          </td>
        </tr>
        <tr>
           <td colspan="2" class="text-center">
            <%= f.submit "更新する" %>
          </td>
        </tr>

        <% end %>
      </thead>
    </table>
  </div>
</div>
