<h2>商品新規登録</h2>
<table>
  <thead>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>商品説明</th>
      <th>ジャンル</th>
      <th>税込価格</th>
      <th>販売ステータス</th>
    </tr>
  </thead>
</table>
<tbody>
  <tr>
    <%= form_with model: @item do |f| %>
      <td class="form-group">
        <%= f.fire_field :profile_image, accept: "image/*"%>
      </td>
      <td class="form-group">
        <%= f.text_field :name %>
      </td>
      <td class="form-group">
        <%= f.text_area :introduction %>
      </td>
      <td class="form-group">
        <%= ジャンル %>
      </td>
      <td class="form-group">
        <%= f.text_area :price %>円
      </td>
      <td class="form-group">
        <%= すてーたす%>
      </td>
      <td class="form-group">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </td>
    <% end %>
  </tr>
</tbody>