<div class ="container">
  <div class ="row">
    <div class ="col-sm-4 mt-5">
      <h4>ショッピングカート</h4>
    </div>
    <div class ="col-sm-8 mt-5 text-right">
      <%= link_to "カートを空にする", destroy_all_path, method: :delete, class: "btn btn-sm btn-danger"%>
    </div>
  </div>

    <div class ="row m-4">
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th scope="col">商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr class="table-light">
                <th><% if cart_item.item.image.attached?%>
                      <%= image_tag cart_item.item.image, size: "100x60" %>
                    <% end %>
                    <span>　<%= cart_item.item.name %></span>
                </th>
                <th>¥<%= cart_item.item.with_tax_price.to_s(:delimited) %></th>
                <th class="text-center">
                  <%= form_with model: cart_item, url: cart_item_path(cart_item.id) do |f| %>
                  <%= f.select :amount, *[1..10] %>
                  <%= f.submit "変更", class: 'btn btn-success' %>
                  <% end %>
                </th>
                <th>¥<%= cart_item.subtotal.to_s(:delimited) %></th>
                <th class="text-center"><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-sm btn-danger" %></th>
              </tr>
            </tr>
            <% (@array += cart_item.subtotal).to_s(:delimited)%>
            <% end %>
          </tbody>
      </table>
    </div>

    <div class ="row m-4">
      <div class ="col-sm-8">
          <% if current_customer.cart_items.count !=0 %>
            <%= link_to "<<", items_path, class: "btn btn-sm btn-secondary" %>
          <% end %>
      </div>
      <div class ="col-sm-4">
          <table class="table table-bordered text-center">
            <tr>
              <th class="table-active">合計金額</th>
              <th class="table-light">
                ¥<%= @array.to_s(:delimited) %>
              </tr>
          </table>
      </div>
    </div>
</div>

<div class="row m-5">
  <% if current_customer.cart_items.count != 0 %>
    <%= link_to "情報入力画面に進む", new_order_path, class: "btn btn-info btn-lg btn-block" %>
  <% end%>
</div>