<div class="container">
  <div class="row mt-5 mb-5">

    <div class="col-md-3">
      <h3>注文情報入力</h3>
    </div>

    <div class="col-md-9 mb-5">
      <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
      <h4 class="mb-3"><i class="fas fa-heart color_red"></i> 支払方法</h4>
        <%= f.radio_button :order_method, Order.order_methods.key(0), checked: true %>
        <%= f.label :order_method_credit_card, Order.order_methods_i18n[:credit_card] %><br>

        <%= f.radio_button :order_method, Order.order_methods.key(1) %>
        <%= f.label :order_method_transfer, Order.order_methods_i18n[:transfer]%><br><br>

      <h4 class="my-3"><i class="fas fa-heart color_red"></i> お届け先</h4>
        <%= f.radio_button :select_address, 0, checked: true %><%= f.label :address_id, "ご自身の住所" %><br>
        <div>　　〒<%= current_customer.postcode %>　<%= current_customer.address %></div>
        <div>　　　<%= current_customer.last_name %> <%= current_customer.first_name %></div>
        <br>
        <%= f.radio_button :select_address, 1 %><%= f.label :address_id, "登録済住所から選択" %><br>
        <p>　　<%= f.select :address_id, options_from_collection_for_select(@addresses.all, :id, :address_display) %></p>
        <br>
        <%= f.radio_button :select_address, 2 %><%= f.label :address_id, "新しいお届け先" %><br>
        <table>
          <tr>
            <td width="250">郵便番号 (ハイフンなし)</td>
              <td class="form-group"><%= f.text_field :postcode, class: "form-control form-control-sm", placeholder: "0000000", size:20 %></td>
          </tr>
          <tr>
            <td>住所</td>
              <td class="form-group"><%= f.text_field :address, class: "form-control form-control-sm", placeholder: "うどん県あげたま市てんかす町2-8", size: 40 %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td class="form-group"><%= f.text_field :name, class: "form-control form-control-sm", placeholder: "糖質制限", size: 20 %></td>
          </tr>
        </table>
        <br>
      <%= f.submit "確認画面へ進む", class: "btn btn-info", method: :POST %>
      <% end %>
    </div>

  </div>
</div>